<html ng-app="movieApp">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"> </script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="app.js"></script>
  <script src="actorsCtrl.js"></script>

</head>

<body ng-controller="actorsCtrl">
  <div class="container">
    <header class="jumbotron text-center">
      <h1 class="text-center">Actor Gallery</h1>
    </header>
    <input class="form-control my-3" placeholder="Filter actor" ng-model="query">
    
    <select ng-model="orderProp">
      <option value="fname">
        First Name
      </option>
      <option value="lname">
          Last Name
      </option>
      <option value="birthday">
        Birthday
      </option>
    </select>

    <div class="row">
      <div class="col-md-4 col-sm-6 pb-4 pt-4" ng-repeat="actor in actors | filter : filterAct | orderBy : orderProp">
        <div class="card round">
          <img class="card-img-top img-responsive" src="{{actor.image}}" alt="Card image">
          <div class="card-body">
            <a href="{{actor.imdb}}" target="_blank">
              <h4 class="card-title">{{actor.fullName()}}</h4>
            </a>
            <h5 class="card-title">{{actor.birthday | date: "'Birthday: 'MMM d, y"}}</h5>
            <p class="card-text"></p>
            <a href="{{actor.imdb}}" class="btn btn-primary">See Profile</a>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" ng-click="addActor()">Add Actor</button>
  </div>
</body>

</html>