.btn-primary {
    font-family: Raleway-SemiBold;
    font-size: 13px;
    color: rgba(58, 133, 191, 0.75);
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(58, 133, 191, 0.75);
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
}

.btn-primary:hover {
    color: #FFF;
    background: rgba(58, 133, 191, 0.75);
    border: 2px solid rgba(58, 133, 191, 0.75);
}

.img-responsive {
    height:55vmax;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
}

.round {
    border: 4px solid black;
    border-radius: 0px 0px 45px 45px;
    min-height:300px ;
}